:root {
    --cor-destaque2: #005200;
    --cor-primaria: #fff;
    /*verde floresta*/
    --cor-secundaria: #000;
    /*verde-agua claro*/
    --cor-destaque1: #16324f;
    /* azul profundo*/
    --fonte-titulo: Geogia, "Times New Roman", serif;
    --fonte-boby: Arial, Helvertica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-boby);
    color: var(--cor-secundaria);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

h1,
h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-destaque2);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--cor-secundaria);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 200px;
    left: 20px;
    border: 10px solid #000;
    background-color: var(--cor-secundaria);
    color: #fff;
    opacity: 0.8;
}

.hero article img {
    float: right;
    width: 125px;
    
}