:root {
    --cor-destaque2: #005200;
    --cor-primaria: #fff;
    /*verde floresta*/
    --cor-secundaria: #000;
    /*verde-agua claro*/
    /* azul profundo*/
    --fonte-titulo: Geogia, "Times New Roman", serif;
    --fonte-boby: Arial, Helvertica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-boby);
    color: var(--cor-secundaria);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

header img {
    width: 100px;
}

nav {
    text-align: right;
}

h1,
h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-destaque2);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

section {
    display: grid;
    grid-template-columns: 1fr 2fr;
}



.aventura {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
}

.aventura h2 {
    grid-column: 1 / -1;
}

.aventura img {
    width: 100%;
}

.historia {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
}

.historia h2 {
    grid-column: 1 / -1;
    text-align: center;
}

.historia img {
    width: 150px;
    grid-column: 2;
    height: auto;
    margin-top: 20px;
}

.historia p:first-of-type {
    grid-column: 1;
    
}

.historia p:last-of-type {
    grid-column: 3;
    
}


nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    
}

.socialmedia {
    display: flex;
    justify-content:  flex-end;
    gap: 10px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--cor-secundaria);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 200px;
    left: 20px;
    border: 10px solid #000;
    background-color: var(--cor-secundaria);
    color: #fff;
    opacity: 0.8;
}

.hero article img {
    float: right;
    width: 125px;
    
}

.formulario {
    display: block;
}

.formulario form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
    padding: 8px;
    width: 100%;
}

.formulario textarea {
    min-height: 120px;
    resize: vertical;
}

.formulario button {
    padding: 12px;
    cursor: pointer;
    background-color: var(--cor-destaque2);
    color: #fff;
    border: none;
    width: 200px;
}



.equipe {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.equipe figure {
    margin: 0;
}

.equipe h2 {
    grid-column: 1 /-1;
}

.equipe img {
    width: 100%;
}

.equipe figcaption {
    text-align: center;
}

.contato {
    display: block;
}

.mapa {
    display: block;
}

.mapa iframe {
    width: 100%;
}

.mapa iframe {
    height: 300px;
    border: 0;
}

.formulario fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
}