/*Retar css do meu projeto*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: darkblue;
    --tamanho-espassamento: 1rem;
}

nav {
    background-color:
        var(--cor-principal);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: (--cor-principal);
}

main img {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0px;
}

main {
    max-width: 100%;

}

aside {
    width: 20rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Seletores de Class */

.caixa {
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: var(--tamanho-espassamento);
    margin: var(--tamanho-espassamento);
    background-color: #eee;

}

.indentacao {
    padding-left: 2rem;
}