/*Resetartar css do meu projeto*/

:root {
    --cor-principal: darkblue;
    --tamanho-espassamento: 1rem;
}

nav {
    background-color: var(--cor-principal);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--cor-principal);
}

main {
    padding: 1rem;
    
}

main h1{
    border-bottom: 1px solid blue;
}

main img {
    width: 180px;
    margin-left: 10px;
    margin-bottom:20px;
    margin-top:0;
    margin-right: 20px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right !important;

}

nav {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

nav a{
    display: block;
    padding: 5px;
   text-decoration: none;
    
}

p {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    width: 20rem;
    margin:20px;
    border:1px solid #000;
    padding: 1rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto
}

footer {
    margin-top: var(--tamanho-espassamento);
    border-top: 1px solid #000;
    text-align: center;
}

/* Seletores de Class */

.caixa {
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 1rem;
    margin: 1rem;
    background-color: #eee;

}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid aside{
    grid-row: 1;
}

header, footer, .grid{
    max-width: 840px;
    margin: 0 auto;
}

.indentacao {
    padding-left: 2rem;
}